

.search_wrap{
	
	margin-top: 20px;
	margin-bottom: 40px;
	margin-Left: 1030px;
	width:100px;
  
  }
  
  .search_wrap .search_box{
	  position: relative;
	  width: 260px;
	  height: 37px;
  }
  
  .search_wrap .search_box .input{
	  position: absolute;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  padding: 10px 20px;
	  border-radius: 3px;
	  font-size: 18px;
  }
  
  
  .search_wrap .search_box .btn.btn_common .fas{
	  left: 50%;
	  transform: translate(-50%,-50%);
	  color: #fff;
	  font-size: 20px;
  }
  
  
  
  .search_wrap.search_wrap_4 .search_box .input{
	border: 1px solid;
	  border-radius: 50px;
  }

  /*.btnCombine2{

    display:flex; 
    flex-direction:row;

}

.Addpromo button{
    
    margin-top:20px;
    margin-left: 280px;
    background-color: rgba(100, 97, 92, 0.7);
    width: 90px;
    cursor: pointer;
    height: 40px;
    background-color: rgba(100, 97, 92, 0.7);
    border-radius: 5px;
    border-color: transparent;
    font-weight: bold;
  
  }

  .PReport button{

    margin-top:20px;
    background-color: rgba(100, 97, 92, 0.7);
    width: 90px;
    cursor: pointer;
    height: 40px;
    background-color: rgba(100, 97, 92, 0.7);
    border-radius: 5px;
    border-color: transparent;
    font-weight: bold;

  }*/

  
  
  